.heading{
    background-color: rgba(223, 222, 222, 0.568);
    width: 100%;
    background-size: cover;
    text-align: center;
   text-transform: uppercase;
}
html{
    font-size: 100%;
}
.col-md-6 small {
   visibility: hidden;
}
.col-12 small{
    visibility: hidden;
}
#error small{
    color: #e74c3e;
    visibility:hidden;
}
#error small{
    visibility: visible;
}
